@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0%;
}
nav {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.logo img {
  width: 150px;
  height: 85px;
}
.links {
  display: flex;
  gap: 50px;
  align-content: space-between;
  padding-top: 20px;
  padding-left: 100px;
  align-items: center;
}
.links a {
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Elms Sans", sans-serif;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
#one {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: black;
  width: 140px;
  height: 45px;
  font-size: 15px;
}
#two {
  color: white;
  background-color: rgb(227, 17, 17);
  border-radius: 30px;
  width: 140px;
  height: 50px;
  font-size: 15px;
}
#two span {
   width: 29px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 2px;
}
#two span i{
  font-size: 16px;
}
.pic img {
  width: 1521px;
  height: 626px;
}
/* section{start} */
.boxtwo {
  background-color: black;
  width: 100%;
  height: 70vh;
  margin-top: -10px;
}
.extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 50px;
}
.extra h1 {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
      line-height: 50px;
}
@font-face{
  font-family: futurak;
  src: url(./font/futurak.ttf);
}
.extra h1 span {
 font-family: futurak;
     font-style: normal;
  font-weight: 400;
  font-size: 52px;
      line-height: 62px
}
.extra p {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.fourbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.onebox {
  background-color: white;
  width: 16%;
  height: 19vh;
  border-radius: 3px;
}
.onebox img {
  width: 79%;
  height: 10vh;
  padding: 34px 26px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  gap: 100px;
}
.buttons button {
  color: white;
  background-color: black;
  width: 140px;
  height: 45px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
}
.container3 {
  width: 100%;
  height: 200vh;
  background-color: rgb(20, 19, 19);
}
.headingsalt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 50px;
}
.headingsalt h1 {
  font-family: futurak;
  font-weight: 400;
  font-size: 48px;
  color: white;
      line-height: 60px;
}
@font-face {
  font-family: "ChunkFive";
  src: url("fonts/ChunkFive-Regular.otf");
}
.headingsalt .new {
  font-family: "ChunkFive";
  padding-bottom: 10px;
}
.headingsalt p {
  color: gray;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 19px;
}
.container4 .red {
  color: red;
  letter-spacing: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.container4 h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 35px;
}
.container4 span {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
}
.container4 p {
  color: gray;
  font-size: 18px;
  padding-top: 19px;
}
.container4 button {
  color: white;
  background-color: black;
  width: 175px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
  margin-top: 30px;
}
.container4 button span {
  width: 26px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container4 button span i {
  padding-top: 7px;
}
.container4 img {
  width: 30%;
  border-radius: 3px;
}
/* section{end} */
