@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0%;
}
nav {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.logo img {
  width: 150px;
  height: 85px;
}
.links {
  display: flex;
  gap: 50px;
  align-content: space-between;
  padding-top: 20px;
  padding-left: 100px;
  align-items: center;
}
.links a {
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Elms Sans", sans-serif;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
#one {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: black;
  width: 140px;
  height: 45px;
  font-size: 15px;
}
#two {
  color: white;
  background-color: rgb(227, 17, 17);
  border-radius: 30px;
  width: 140px;
  height: 50px;
  font-size: 15px;
}
#two span {
   width: 29px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 2px;
}
#two span i{
  font-size: 16px;
}
.pic img {
  width: 1521px;
  height: 626px;
}
/* section{start} */
.boxtwo {
  background-color: black;
  width: 100%;
  height: 70vh;
  margin-top: -10px;
}
.extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 50px;
}
.extra h1 {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
      line-height: 50px;
}
@font-face{
  font-family: futurak;
  src: url(./font/futurak.ttf);
}
.extra h1 span {
 font-family: futurak;
     font-style: normal;
  font-weight: 400;
  font-size: 52px;
      line-height: 62px
}
.extra p {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.fourbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.onebox {
  background-color: white;
  width: 16%;
  height: 19vh;
  border-radius: 3px;
}
.onebox img {
  width: 79%;
  height: 10vh;
  padding: 34px 26px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  gap: 100px;
}
.buttons button {
  color: white;
  background-color: black;
  width: 140px;
  height: 45px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
}
.container3 {
  width: 100%;
  height: 200vh;
  background-color: rgb(20, 19, 19);
}
.headingsalt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 50px;
}
.headingsalt h1 {
  font-family: futurak;
  font-weight: 400;
  font-size: 48px;
  color: white;
      line-height: 60px;
}
@font-face {
  font-family: "ChunkFive";
  src: url("fonts/ChunkFive-Regular.otf");
}
.headingsalt .new {
  font-family: "ChunkFive";
  padding-bottom: 10px;
}
.headingsalt p {
  color: gray;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 19px;
}
.container4 .red {
  color: red;
  letter-spacing: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.container4 h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 35px;
}
.container4 span {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
}
.container4 p {
  color: gray;
  font-size: 18px;
  padding-top: 19px;
}
.container4 button {
  color: white;
  background-color: black;
  width: 175px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
  margin-top: 30px;
}
.container4 button span {
  width: 26px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container4 button span i {
  padding-top: 7px;
}
.container4 img {
  width: 30%;
  border-radius: 3px;
}
.container5 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2px;
  position: relative;
}
.container5 .pic1{
display: flex;
margin-left: 170px;
justify-content: flex-start;
width: 90%;
height: 40vh;
position: absolute;
}
.container5 .pic1 img{
  width: 45%;
   height: 45vh;
margin-top: 160px;
}
.container5 .text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container5 .red {
  color: red;
  letter-spacing: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-top: 155px;
  padding-right: 500px;
}
.container5 h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 35px;
    padding-right: 370px;

}
.container5 span {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
}
.container5 p {
  color: gray;
  font-size: 18px;
  padding-top: 19px;
     padding-right: 460px;
}
.container5 .p-text{
 padding-right: 525px;
}
.container5 button {
  color: white;
  background-color: black;
  width: 175px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
  margin-top: 30px;
   margin-right: 510px;
}
.container5 button span {
  width: 26px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container5 button span i {
  padding-top: 7px;
}
.container6 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2px;
  position: relative;
}
.container6 .text-6{
  padding-top: 155px;
}
.container6 .red {
  color: red;
  letter-spacing: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-left: 180px;
  padding-top: 50px;
}
.container6 h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 35px;
   padding-left: 180px;

}
.container6 span {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
}
.container6 p {
  color: gray;
  font-size: 18px;
  padding-top: 19px;
   padding-left: 180px;
}
.container6 button {
  color: white;
  background-color: black;
  width: 175px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
  margin-top: 30px;
   margin-left: 180px;
}
.container6 button span {
  width: 26px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container6 button span i {
  padding-top: 7px;
}
.container6 .pic1{
display: flex;
margin-right: 170px;
justify-content: flex-end;
width: 90%;
height: 40vh;
position: absolute;
}
.container6 .pic1 img{
  width: 45%;
   height: 45vh;
margin-top: 180px;
}
.container7{
  width: 100%;
  height: 280vh;
  background-color: black;
  margin-top: 160px;
}
.new-heading{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 50px;
}
.new-heading h1{
   color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
#section-4 {
    background-image: url('./images/p');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 40px;
    background-position-y: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px 0 30px;
}

#section-4>div {
    padding-bottom: 50px;
}

#section-4>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section-4>main>div {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

#section-4>main>div>h3 {
    font-weight: 4;
    font-size: 25px;
    color: white;
  font-family: "Bebas Neue", sans-serif;
}
#section-4>main>div p{
   color: gray;
  font-size: 14px;
}
#section-4>main>div>img {
    width: 350px;
    height: 250px;
}

#section-4>main>div>small {
    color: red;
    letter-spacing: 0.48em;
}

#section-4>main>div>button {
    /* border: 1px solid rgb(96, 96, 96); */
     color: white;
  background-color: black;
  width: 175px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
}
#section-4>main>div>button a{
  color: white;
  text-decoration: none;
}
#section-4>main>div>button> i {
    transform: rotate(320deg);
    padding: 6px;
     width: 10px;
  background-color: white;
  border-radius: 50px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container8{
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 19, 19)
}
.container8 h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: white;
  text-align: center;
  /* padding-top: 20px; */
}

.container8 .new{
   font-family: "ChunkFive";
  font-weight: 600;
  font-size: 50px;
  
}
/* .container5 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2px;
  position: relative;
} */
.container8 .pic1{
display: flex;
margin-left: 0px;
justify-content: flex-start;
width: 60%;
height: 50vh;
position: absolute;
}
.container8 .pic1 img{
  width: 70%;
   height: 50vh;
margin-top: 10px;
}
.container8 .text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container8 .red {
  color: red;
  letter-spacing: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
  padding-left: 0px;
}
.container8 h3 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 35px;
    padding-left: 70px;

}
.container8 span {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
}
.container8 p {
  color: gray;
  font-size: 18px;
  padding-top: 19px;
     padding-left: 180px;
}
.container8 .fa-solidfa-location-dot{
  padding-left: 1200px;
}
.container8 .p-text{
 padding-right: 90px;
}
.container8 button {
  color: white;
  background-color: #28a745;
  width: 175px;
  height: 50px;
  border: 1px solid #28a745;
  border-radius: 30px;
  font-size: 15px;
  font-family: "ChunkFive";
  padding-bottom: 12px;
  margin-top: 30px;
   margin-right: 510px;
}
.container8 button span {
  width: 26px;
  background-color: white;
  border-radius: 20px;
  height: 4vh;
  font-size: 18px;
  margin-top: 8px;
}
.container5 button span i {
  padding-top: 7px;
}

  
/* section{end} */

/* section{end} */

/* section{end} */
